extends layout

block content
    h1 #{title}
    ul.list-group
        each product, i in products
            li.list-group-item
                a(href="/products/"+product._id)= product.name