extends layout

block content
        h1 #{title}
        form(method='POST',action="/products/edit/"+product._id)
            #form-group
                label Name:
                input.form-control(name = 'name',type = "text",value=product.name)
            #form-group
                label Price:
                input.form-control(name = 'price',type = "text",value=product.price)
            #form-group
                label OS:
                input.form-control(name = 'os',type = "text",value=product.os)
            #form-group
                label Model:
                input.form-control(name = 'model',type = "text",value=product.model)
            #form-group
                label Specfication:
                input.form-control(name = 'spec',type = "text",value=product.spec)
            br
            input.btn.btn-primary(type='submit',value='Submit')
