extends layout

block content
    if errors
        each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        h1 #{title}
        form(method='POST',action="/products")
            #form-group
                label Name:
                input.form-control(name = 'name',type = "text")
            #form-group
                label Price:
                input.form-control(name = 'price',type = "text")
            #form-group
                label OS:
                input.form-control(name = 'os',type = "text")
            #form-group
                label Model:
                input.form-control(name = 'model',type = "text")
            #form-group
                label Specfication:
                input.form-control(name = 'spec',type = "text")
            br
            input.btn.btn-primary(type='submit',value='Submit')
