extends layout

block content
        h1 #{title}
        div
                table.table.table-hover
                        thead
                                tr
                                        th Name
                                        th Model
                                        th OS
                                        th Spec
                                        th Price
                        tbody
                                tr
                                        td= product.name
                                        td= product.model
                                        td= product.os
                                        td= product.spec
                                        td= product.price
        hr
        if user
                if user.username == "ram_2987"
                        a.btn.btn-success(href='/products/edit/'+product._id) Edit
                        b 
                        a.btn.btn-danger.delete-product(href='#',data-id=product._id) Delete