extends layout

block content
    if errors
        each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        h4 User Registeration
        form(method='POST',action="/users/register")
            #form-group
                label Name:
                input.form-control(name = 'name',type = "text")
            #form-group
                label Email:
                input.form-control(name = 'email',type = "text")
            #form-group
                label Username:
                input.form-control(name = 'username',type = "text")
            #form-group
                label Password:
                input.form-control(name = 'password',type = "password")
            #form-group
                label Confirm Password:
                input.form-control(name = 'password2',type = "password")
            br
            input.btn.btn-primary(type='submit',value='Submit')
